
<div *ngIf="mantisStatus">
    <h2><span jhiTranslate="mantozorApp.mantisStatus.detail.title">Mantis Status</span> {{mantisStatus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mantozorApp.mantisStatus.changeDate">Change Date</span></dt>
        <dd>
            <span>{{mantisStatus.changeDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="mantozorApp.mantisStatus.mantis">Mantis</span></dt>
        <dd>
            <div *ngIf="mantisStatus.mantisId">
                <a [routerLink]="['/mantis', mantisStatus.mantisId]">{{mantisStatus.mantisId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mantozorApp.mantisStatus.status">Status</span></dt>
        <dd>
            <div *ngIf="mantisStatus.statusId">
                <a [routerLink]="['/status', mantisStatus.statusId]">{{mantisStatus.statusId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mantozorApp.mantisStatus.user">User</span></dt>
        <dd>
            {{mantisStatus.userId}}
        </dd>
        <dt><span jhiTranslate="mantozorApp.mantisStatus.approver">Approver</span></dt>
        <dd>
            <div *ngIf="mantisStatus.approverId">
                <a [routerLink]="['/mantis-approver', mantisStatus.approverId]">{{mantisStatus.approverId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mantis-status/'+ mantisStatus.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
