<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMantisStatusLabel" jhiTranslate="mantozorApp.mantisStatus.home.createOrEditLabel">Create or edit a Mantis Status</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--div class="form-group" [hidden]="!mantisStatus.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mantisStatus.id" readonly />
        </div-->
		<div class="wizard">
			<a *ngFor="let status of statuses; let i=index;" [class]="status.id <= lastMantisStatus.statusId ? 'current' : ''" [hidden]="((status.id == 5) && (status.id != lastMantisStatus.statusId))">{{status.name}}</a>
		</div>
		<div class="form-group" >
            <label for="id" jhiTranslate="mantozorApp.mantisStatus.mantis">ID</label>
            <input type="text" class="form-control" id="field_mantis" name="mantis"
                   [(ngModel)]="mantisStatus.mantis.mantisNumber" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mantozorApp.mantisStatus.changeDate" for="field_changeDate">Change Date</label>
            <div class="input-group">
                <input id="field_changeDate" type="text" class="form-control" name="changeDate" ngbDatepicker  #changeDateDp="ngbDatepicker" [(ngModel)]="mantisStatus.changeDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="changeDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.changeDate?.dirty && editForm.controls.changeDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.changeDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <!--div class="form-group">
            <label class="form-control-label" jhiTranslate="mantozorApp.mantisStatus.mantis" for="field_mantis">Mantis</label>
            <select class="form-control" id="field_mantis" name="mantis" [(ngModel)]="mantisStatus.mantisId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="mantisOption.id" *ngFor="let mantisOption of mantis; trackBy: trackMantisById">{{mantisOption.mantisNumber}}</option>
            </select>
        </div-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mantozorApp.mantisStatus.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="mantisStatus.statusId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="statusOption.id" *ngFor="let statusOption of statuses; trackBy: trackStatusById">{{statusOption.name}}</option>
            </select>
            <div [hidden]="!(editForm.controls.statusId?.dirty && editForm.controls.statusId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.statusId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <!--div class="form-group">
            <label class="form-control-label" jhiTranslate="mantozorApp.mantisStatus.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="mantisStatus.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div-->
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mantozorApp.mantisStatus.comments" for="field_comments">Comments</label>
            <textarea class="form-control" id="field_comments" name="comments" [(ngModel)]="mantisStatus.comments"></textarea>
        </div>
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mantozorApp.mantisStatus.approver" for="field_approver">Approver</label>
            <select class="form-control" id="field_approver" name="approver" [(ngModel)]="mantisStatus.approverId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="mantisApproverOption.id" *ngFor="let mantisApproverOption of mantisapprovers; trackBy: trackMantisApproverById">{{mantisApproverOption.fullName}}</option>
            </select>
        </div>
		
		
		
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
