<div class="row">
	<div class="col-sm-4">
		<label class="form-control-label control-label"
				for="formly_6_input_investmentDate_1"> 
				Field concerned 
		</label>
		<select class="form-control ng-pristine ng-valid ng-touched" id="formly_1_select_marvel1_0">
			<option [ngValue]="null"></option>
			<option [ngValue]="fieldOption.value" *ngFor="let fieldOption of filterFields; trackBy: trackFieldById">{{fieldOption.label}}</option>
		</select>
	</div>
	
	<div class="col-sm-3">
		<label class="form-control-label control-label"
				for="formly_6_input_investmentDate_1"> 
				Comparator
		</label>
		<select class="form-control ng-pristine ng-valid ng-touched" id="formly_1_select_marvel1_0">
			<option [ngValue]="null"></option>
			<option [ngValue]="comparatorOption.value" *ngFor="let comparatorOption of filterComparators; trackBy: trackComparatorById">{{comparatorOption.label}}</option>
		</select>
	</div>
	
	<div class="col-sm-3">
		<label class="form-control-label control-label"
				for="formly_6_input_investmentDate_1"> 
				Criteria value
		</label>
		<input
				class="form-control ng-untouched ng-pristine ng-valid"
				id="formly_6_input_investmentDate_1" type="text" hidden="true"/>
		<input
				class="form-control ng-untouched ng-pristine ng-valid"
				id="formly_6_input_investmentDate_1" type="date" hidden="true"/>
		<input
				class="form-control ng-untouched ng-pristine ng-valid"
				id="formly_6_input_investmentDate_1" type="number" hidden="true"/>
	</div>
	
	<div class="col-sm-2">
		<button class="btn btn-danger" type="button">Remove</button>
	</div>
</div>
</div>