

<div class="row" *ngIf="isAuthenticated()">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let stat of statusStats; let i=index;">
		<div [class]="'info-box bg-' + stat.status.statusColor">
			<span class="info-box-icon"><i [class]="'fa ' + stat.status.icon"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">{{stat.status.name}}</span> 
				<span class="info-box-number">{{stat.count}}</span>

				<div class="progress">
					<div class="progress-bar" [style.width.%]="stat.percentage"></div>
				</div>
				<span class="progress-description"> {{stat.percentage}}% </span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>	
</div>


<div class="box box-info" *ngIf="isAuthenticated()">
	<div class="box-header with-border">
		<h3 class="box-title">Stats</h3>

	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin table-striped">
				<thead>
					<tr >
						<th></th>
						<th *ngFor="let header of statusStateStats[0].statusesStats">
							<i [class]="'fa ' + header.status.icon"></i>
							{{header.status.name}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let stat of statusStateStats; let i=index;">
						
						<td >{{stat.state.name}}</td>
						<td *ngFor="let statusStat of stat.statusesStats; let j=index;">
							<span class=" ">{{statusStat.count}}</span>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.box-body -->

</div>
